* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E0E0E;
    font-family: Inter, serif;
    color: white;
}

.header {
    background-color: #2b2b2b;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.header-one, .open-search {
    background-color: #1f1f1f;
    padding: 0.35em;
    opacity: 0.9;
    height: fit-content;
}

.header-one {
    border-radius: 0 0 1em 0;
}

.open-search {
    border-radius: 0.5em 0 0 0;
    color: white;
    cursor: pointer;
    border-style: none;
    align-self: last baseline;
    font-size: 1rem;
}

.search-bar {
    display: none;
}

.search-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.75em 0 0.75em;
    gap: 0.5em;
    border: 2px solid #b004bd;
}

.inputs {
    padding: 0.25em;
}

.search-button {
    background: #282828;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
    border-style: none;
    border: 2px solid #b004bd;
    border-bottom: 0;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 0.75em 0.75em 0 0;
    cursor: pointer;
}

.text-offset {
    color: #d400e3;
    font-weight: 600;
    padding-right: 0.5em;
}

.movie-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
    margin-top: 1em;
    text-align: center;
    padding: 0.75em;
}

.box-image {
    max-width: 75%;
    filter: drop-shadow(15px 10px 4px black);
}

a {
    color: #d400e3;
    text-decoration: none;
}